In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
df = pd.read_csv('airnb.csv')

In [81]:
df

,Title,Detail,Date,Price(in dollar),Offer price(in dollar),Review and rating,Number of bed
0,"Chalet in Skykomish, Washington, US",Sky Haus - A-Frame Cabin,Jun 11 - 16,306.00,229.00,4.85 (531),4 beds
1,"Cabin in Hancock, New York, US",The Catskill A-Frame - Mid-Century Modern Cabin,Jun 6 - 11,485.00,170.00,4.77 (146),4 beds
2,"Cabin in West Farmington, Ohio, US",The Triangle: A-Frame Cabin for your city retreat,Jul 9 - 14,119.00,522.00,4.91 (515),4 beds
3,"Home in Blue Ridge, Georgia, US",*Summer Sizzle* 5 Min to Blue Ridge* Pets* Hot...,Jun 11 - 16,192.00,348.00,4.94 (88),5 beds
4,"Treehouse in Grandview, Texas, US",Luxury Treehouse Couples Getaway w/ Peaceful V...,Jun 4 - 9,232.00,196.00,4.99 (222),1 queen bed
...,...,...,...,...,...,...,...
948,Guest suite in Lake Worth,The Garden Suite at the Historic Chateau Bleu,May 1 - 6,141.00,NaN,4.85 (82),1 king bed
949,Room in Kissimmee,Private Room in Orlando/Kissimmee (2Twins) T1,May 1 - 6,43.00,NaN,4.9 (300),1 king bed
950,Guesthouse in San Antonio,Casa Alexander,May 1 - 6,73.00,NaN,4.92 (282),5 beds
951,Apartment in Englewood,BEACH FRONT Unit w/ Pool Sandy Toe's # 5,May 7 - 12,233.00,NaN,4.96 (318),4 beds
952,Room in Long Beach,Across the Street from Beach Getaway/Near Conv...,May 1 - 6,106.00,NaN,4.85 (97),4 beds

In [82]:
df.shape

(953, 7)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   953 non-null    object
 1   Detail                  953 non-null    object
 2   Date                    953 non-null    object
 3   Price(in dollar)        953 non-null    object
 4   Offer price(in dollar)  166 non-null    object
 5   Review and rating       947 non-null    object
 6   Number of bed           953 non-null    object
dtypes: object(7)
memory usage: 52.2+ KB

In [84]:
df.columns

Index(['Title', 'Detail', 'Date', 'Price(in dollar)', 'Offer price(in dollar)',
       'Review and rating', 'Number of bed'],
      dtype='object')

In [85]:
def remove_comma_covert(col_name):
    df[col_name] = (
        df[col_name].astype(str)
        .str.replace(',','')
        .astype(float))
    return df

In [86]:
remove_comma_covert(col_name='Price(in dollar)')

,Title,Detail,Date,Price(in dollar),Offer price(in dollar),Review and rating,Number of bed
0,"Chalet in Skykomish, Washington, US",Sky Haus - A-Frame Cabin,Jun 11 - 16,306.0,229.00,4.85 (531),4 beds
1,"Cabin in Hancock, New York, US",The Catskill A-Frame - Mid-Century Modern Cabin,Jun 6 - 11,485.0,170.00,4.77 (146),4 beds
2,"Cabin in West Farmington, Ohio, US",The Triangle: A-Frame Cabin for your city retreat,Jul 9 - 14,119.0,522.00,4.91 (515),4 beds
3,"Home in Blue Ridge, Georgia, US",*Summer Sizzle* 5 Min to Blue Ridge* Pets* Hot...,Jun 11 - 16,192.0,348.00,4.94 (88),5 beds
4,"Treehouse in Grandview, Texas, US",Luxury Treehouse Couples Getaway w/ Peaceful V...,Jun 4 - 9,232.0,196.00,4.99 (222),1 queen bed
...,...,...,...,...,...,...,...
948,Guest suite in Lake Worth,The Garden Suite at the Historic Chateau Bleu,May 1 - 6,141.0,NaN,4.85 (82),1 king bed
949,Room in Kissimmee,Private Room in Orlando/Kissimmee (2Twins) T1,May 1 - 6,43.0,NaN,4.9 (300),1 king bed
950,Guesthouse in San Antonio,Casa Alexander,May 1 - 6,73.0,NaN,4.92 (282),5 beds
951,Apartment in Englewood,BEACH FRONT Unit w/ Pool Sandy Toe's # 5,May 7 - 12,233.0,NaN,4.96 (318),4 beds
952,Room in Long Beach,Across the Street from Beach Getaway/Near Conv...,May 1 - 6,106.0,NaN,4.85 (97),4 beds

In [87]:
remove_comma_covert(col_name='Offer price(in dollar)')

,Title,Detail,Date,Price(in dollar),Offer price(in dollar),Review and rating,Number of bed
0,"Chalet in Skykomish, Washington, US",Sky Haus - A-Frame Cabin,Jun 11 - 16,306.0,229.0,4.85 (531),4 beds
1,"Cabin in Hancock, New York, US",The Catskill A-Frame - Mid-Century Modern Cabin,Jun 6 - 11,485.0,170.0,4.77 (146),4 beds
2,"Cabin in West Farmington, Ohio, US",The Triangle: A-Frame Cabin for your city retreat,Jul 9 - 14,119.0,522.0,4.91 (515),4 beds
3,"Home in Blue Ridge, Georgia, US",*Summer Sizzle* 5 Min to Blue Ridge* Pets* Hot...,Jun 11 - 16,192.0,348.0,4.94 (88),5 beds
4,"Treehouse in Grandview, Texas, US",Luxury Treehouse Couples Getaway w/ Peaceful V...,Jun 4 - 9,232.0,196.0,4.99 (222),1 queen bed
...,...,...,...,...,...,...,...
948,Guest suite in Lake Worth,The Garden Suite at the Historic Chateau Bleu,May 1 - 6,141.0,NaN,4.85 (82),1 king bed
949,Room in Kissimmee,Private Room in Orlando/Kissimmee (2Twins) T1,May 1 - 6,43.0,NaN,4.9 (300),1 king bed
950,Guesthouse in San Antonio,Casa Alexander,May 1 - 6,73.0,NaN,4.92 (282),5 beds
951,Apartment in Englewood,BEACH FRONT Unit w/ Pool Sandy Toe's # 5,May 7 - 12,233.0,NaN,4.96 (318),4 beds
952,Room in Long Beach,Across the Street from Beach Getaway/Near Conv...,May 1 - 6,106.0,NaN,4.85 (97),4 beds

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   953 non-null    object
 1   Detail                  953 non-null    object
 2   Date                    953 non-null    object
 3   Price(in dollar)        953 non-null    float64
 4   Offer price(in dollar)  166 non-null    float64
 5   Review and rating       947 non-null    object
 6   Number of bed           953 non-null    object
dtypes: float64(2), object(5)
memory usage: 52.2+ KB

In [89]:
def fill_missing(col_name, method='value', value=None, inplace=False):
    target_df = df if inplace else df.copy()

    if method == 'mean':
        target_df[col_name] = target_df[col_name].fillna(target_df[col_name].mean().round(2))
    elif method == 'median':
        target_df[col_name] = target_df[col_name].fillna(target_df[col_name].median().round(2))
    elif method == 'value':
        if value is None:
            raise ValueError("You must provide a value when method='value'")
        target_df[col_name] = target_df[col_name].fillna(value)
    else:
        raise ValueError("method must be 'value', 'mean', or 'median'")

    if not inplace:
        return target_df

In [90]:
fill_missing(col_name='Offer price(in dollar)', method='mean', inplace=True)

In [91]:
df.dropna(axis=0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 947 entries, 0 to 952
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   947 non-null    object
 1   Detail                  947 non-null    object
 2   Date                    947 non-null    object
 3   Price(in dollar)        947 non-null    float64
 4   Offer price(in dollar)  947 non-null    float64
 5   Review and rating       947 non-null    object
 6   Number of bed           947 non-null    object
dtypes: float64(2), object(5)
memory usage: 59.2+ KB

In [92]:
df

,Title,Detail,Date,Price(in dollar),Offer price(in dollar),Review and rating,Number of bed
0,"Chalet in Skykomish, Washington, US",Sky Haus - A-Frame Cabin,Jun 11 - 16,306.0,229.00,4.85 (531),4 beds
1,"Cabin in Hancock, New York, US",The Catskill A-Frame - Mid-Century Modern Cabin,Jun 6 - 11,485.0,170.00,4.77 (146),4 beds
2,"Cabin in West Farmington, Ohio, US",The Triangle: A-Frame Cabin for your city retreat,Jul 9 - 14,119.0,522.00,4.91 (515),4 beds
3,"Home in Blue Ridge, Georgia, US",*Summer Sizzle* 5 Min to Blue Ridge* Pets* Hot...,Jun 11 - 16,192.0,348.00,4.94 (88),5 beds
4,"Treehouse in Grandview, Texas, US",Luxury Treehouse Couples Getaway w/ Peaceful V...,Jun 4 - 9,232.0,196.00,4.99 (222),1 queen bed
...,...,...,...,...,...,...,...
948,Guest suite in Lake Worth,The Garden Suite at the Historic Chateau Bleu,May 1 - 6,141.0,156.56,4.85 (82),1 king bed
949,Room in Kissimmee,Private Room in Orlando/Kissimmee (2Twins) T1,May 1 - 6,43.0,156.56,4.9 (300),1 king bed
950,Guesthouse in San Antonio,Casa Alexander,May 1 - 6,73.0,156.56,4.92 (282),5 beds
951,Apartment in Englewood,BEACH FRONT Unit w/ Pool Sandy Toe's # 5,May 7 - 12,233.0,156.56,4.96 (318),4 beds
952,Room in Long Beach,Across the Street from Beach Getaway/Near Conv...,May 1 - 6,106.0,156.56,4.85 (97),4 beds

In [93]:
df[['Rating', 'Review']] = df['Review and rating'].str.extract(r'([0-9.]+)\s*\((\d+)\)')

df['Rating'] = df['Rating'].fillna(0).astype(float)
df['Review'] = df['Review'].fillna(0).astype(int)

df.head()

,Title,Detail,Date,Price(in dollar),Offer price(in dollar),Review and rating,Number of bed,Rating,Review
0,"Chalet in Skykomish, Washington, US",Sky Haus - A-Frame Cabin,Jun 11 - 16,306.0,229.0,4.85 (531),4 beds,4.85,531
1,"Cabin in Hancock, New York, US",The Catskill A-Frame - Mid-Century Modern Cabin,Jun 6 - 11,485.0,170.0,4.77 (146),4 beds,4.77,146
2,"Cabin in West Farmington, Ohio, US",The Triangle: A-Frame Cabin for your city retreat,Jul 9 - 14,119.0,522.0,4.91 (515),4 beds,4.91,515
3,"Home in Blue Ridge, Georgia, US",*Summer Sizzle* 5 Min to Blue Ridge* Pets* Hot...,Jun 11 - 16,192.0,348.0,4.94 (88),5 beds,4.94,88
4,"Treehouse in Grandview, Texas, US",Luxury Treehouse Couples Getaway w/ Peaceful V...,Jun 4 - 9,232.0,196.0,4.99 (222),1 queen bed,4.99,222

In [94]:
df['Number of bed'].value_counts()

Number of bed
2 beds           221
3 beds           117
1 queen bed      104
1 bed             99
1 king bed        86
4 beds            62
1 double bed      55
2 queen beds      49
2 double beds     23
2 king beds       21
1 sofa bed        19
5 beds            17
6 beds            17
3 queen beds       8
2 single beds      6
4 double beds      5
9 beds             5
3 double beds      5
4 single beds      4
8 beds             4
7 beds             3
2 sofa beds        3
1 bunk bed         3
5 double beds      2
4 sofa beds        1
11 beds            1
22 beds            1
3 king beds        1
4 king beds        1
17 beds            1
4 queen beds       1
13 beds            1
10 beds            1
Name: count, dtype: int64

In [102]:
df[['Beds', 'Type of bed']] = df['Number of bed'].str.extract(r'(\d+)\s*([a-zA-Z ]+)')

df['Beds'] = df['Beds'].astype(int)

df['Type of bed'] = df['Type of bed'].str.strip().str.lower()

df['Type of bed'] = df['Type of bed'].replace({
    'beds': 'normal',
    'bed': 'normal',
    'queen bed': 'queen',
    'queen beds': 'queen',
    'king bed': 'king',
    'king beds': 'king',
    'double bed': 'double',
    'double beds': 'double',
    'sofa bed': 'sofa',
    'sofa beds': 'sofa',
    'single bed': 'single',
    'single beds': 'single',
    'bunk bed': 'bunk',
    'bunk beds': 'bunk',
})

df

,Title,Detail,Date,Price(in dollar),Offer price(in dollar),Review and rating,Number of bed,Rating,Review,Beds,Type of bed
0,"Chalet in Skykomish, Washington, US",Sky Haus - A-Frame Cabin,Jun 11 - 16,306.0,229.00,4.85 (531),4 beds,4.85,531,4,normal
1,"Cabin in Hancock, New York, US",The Catskill A-Frame - Mid-Century Modern Cabin,Jun 6 - 11,485.0,170.00,4.77 (146),4 beds,4.77,146,4,normal
2,"Cabin in West Farmington, Ohio, US",The Triangle: A-Frame Cabin for your city retreat,Jul 9 - 14,119.0,522.00,4.91 (515),4 beds,4.91,515,4,normal
3,"Home in Blue Ridge, Georgia, US",*Summer Sizzle* 5 Min to Blue Ridge* Pets* Hot...,Jun 11 - 16,192.0,348.00,4.94 (88),5 beds,4.94,88,5,normal
4,"Treehouse in Grandview, Texas, US",Luxury Treehouse Couples Getaway w/ Peaceful V...,Jun 4 - 9,232.0,196.00,4.99 (222),1 queen bed,4.99,222,1,queen
...,...,...,...,...,...,...,...,...,...,...,...
948,Guest suite in Lake Worth,The Garden Suite at the Historic Chateau Bleu,May 1 - 6,141.0,156.56,4.85 (82),1 king bed,4.85,82,1,king
949,Room in Kissimmee,Private Room in Orlando/Kissimmee (2Twins) T1,May 1 - 6,43.0,156.56,4.9 (300),1 king bed,4.90,300,1,king
950,Guesthouse in San Antonio,Casa Alexander,May 1 - 6,73.0,156.56,4.92 (282),5 beds,4.92,282,5,normal
951,Apartment in Englewood,BEACH FRONT Unit w/ Pool Sandy Toe's # 5,May 7 - 12,233.0,156.56,4.96 (318),4 beds,4.96,318,4,normal
952,Room in Long Beach,Across the Street from Beach Getaway/Near Conv...,May 1 - 6,106.0,156.56,4.85 (97),4 beds,4.85,97,4,normal

In [ ]:
import re

def format_date_range(date_str):
    year = 2023
    # Pattern: "Jun 11 - 16"
    m1 = re.match(r'([A-Za-z]+)\s+(\d+)\s*-\s*(\d+)$', date_str)
    # Pattern: "Jun 26 - Jul 1"
    m2 = re.match(r'([A-Za-z]+)\s+(\d+)\s*-\s*([A-Za-z]+)\s+(\d+)$', date_str)
    if m1:
        month = m1.group(1)
        start_day = m1.group(2)
        end_day = m1.group(3)
        return f"{start_day} - {end_day} {month}, {year}"
    elif m2:
        start_month = m2.group(1)
        start_day = m2.group(2)
        end_month = m2.group(3)
        end_day = m2.group(4)
        return f"{start_day} {start_month} - {end_day} {end_month}, {year}"
    else:
        return date_str  # fallback

df['Date formatted'] = df['Date'].apply(format_date_range)
df[['Date', 'Date formatted']].head()

            Date     Date formatted
0    Jun 11 - 16  11 - 16 Jun, 2023
1     Jun 6 - 11   6 - 11 Jun, 2023
2     Jul 9 - 14   9 - 14 Jul, 2023
3    Jun 11 - 16  11 - 16 Jun, 2023
4      Jun 4 - 9    4 - 9 Jun, 2023
..           ...                ...
948    May 1 - 6    1 - 6 May, 2023
949    May 1 - 6    1 - 6 May, 2023
950    May 1 - 6    1 - 6 May, 2023
951   May 7 - 12   7 - 12 May, 2023
952    May 1 - 6    1 - 6 May, 2023

[947 rows x 2 columns]