First of all download the chicago crime dataset from kaggle

In [15]:
# https://www.kaggle.com/datasets/usmanlovescode/city-of-chicago-crimes-2001-to-present-dataset

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [17]:
df = pd.read_csv('crime.csv')

C:\Users\itxkakar\AppData\Local\Temp\ipykernel_6344\1143136787.py:1: DtypeWarning: Columns (0,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('crime.csv')

In [24]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
6,10224881,HY411873,09/03/2015 06:00:00 PM,044XX S UNIVERSITY AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,4.0,39.0,14,1184667.0,1875669.0,2015.0,02/10/2018 03:50:01 PM,41.813999,-87.598138,"(41.81399924, -87.598137918)"
11,10225155,HY412177,09/05/2015 10:42:00 PM,007XX W IRVING PARK RD,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,True,False,...,46.0,3.0,24,1170563.0,1926785.0,2015.0,02/10/2018 03:50:01 PM,41.954584,-87.648376,"(41.954584472, -87.648375776)"
15,10225206,HY412253,09/06/2015 01:10:00 AM,047XX S STATE ST,041A,BATTERY,AGGRAVATED: HANDGUN,VACANT LOT/LAND,False,False,...,3.0,38.0,04B,1177070.0,1873609.0,2015.0,02/10/2018 03:50:01 PM,41.808521,-87.626066,"(41.80852139, -87.62606631)"
17,10225234,HY412306,09/06/2015 02:00:00 AM,002XX N ST LOUIS AVE,0420,BATTERY,AGGRAVATED:KNIFE/CUTTING INSTR,SIDEWALK,False,False,...,28.0,27.0,04B,1153006.0,1901570.0,2015.0,02/10/2018 03:50:01 PM,41.885759,-87.713588,"(41.885759278, -87.713588042)"
23,10225308,HY412341,09/06/2015 02:35:00 AM,013XX W ADDISON ST,2230,LIQUOR LAW VIOLATION,ILLEGAL CONSUMPTION BY MINOR,SIDEWALK,True,False,...,44.0,6.0,22,1166847.0,1924028.0,2015.0,09/17/2015 11:37:18 AM,41.947100,-87.662116,"(41.947099832, -87.662115668)"

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687044 entries, 0 to 687043
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    687044 non-null  object
 1   Case Number           687040 non-null  object
 2   Date                  687040 non-null  object
 3   Block                 687040 non-null  object
 4   IUCR                  687040 non-null  object
 5   Primary Type          687040 non-null  object
 6   Description           687040 non-null  object
 7   Location Description  681487 non-null  object
 8   Arrest                687039 non-null  object
 9   Domestic              687039 non-null  object
 10  Beat                  687039 non-null  float64
 11  District              687039 non-null  float64
 12  Ward                  671780 non-null  float64
 13  Community Area        671865 non-null  float64
 14  FBI Code              687039 non-null  object
 15  X Coordinate          612403 non-null  float64
 16  Y Coordinate          612403 non-null  float64
 17  Year                  687039 non-null  float64
 18  Updated On            687039 non-null  object
 19  Latitude              612403 non-null  float64
 20  Longitude             612403 non-null  float64
 21  Location              612403 non-null  object
dtypes: float64(9), object(13)
memory usage: 115.3+ MB

In [20]:
df.dropna(inplace=True)

In [22]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')